*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    text-rendering: optimizeLegibility; 
}
.container{
    max-width: 900px;
    background-color:#ccc;
}
.row{
    margin: 10px;
    display: flex;
    align-items: flex-start;
    background-color: grey;
}
.col{
    flex: calc(100%/6);
    margin: 5px;
    border: 1px solid rgb(146, 145, 145);
    background-color:#ffffff;
    border-radius: 5px;
  }
  img{
    width: 100%;
  }
  h2{
      margin-left: 10px;
      margin-top: 20px;
  }
  h3{
      color: chocolate;
      margin-left: 10px;
  }
  h4{
    margin-left: 10px;
  }
  .content{
    display: flex;
  }
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

div,label{margin:0;padding:0;}
body{margin:20px;}
h1{font-size:1.5em;margin:10px;}

#rating{border:none;float:left;}
#rating>input{display:none;}
#rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}
#rating>.half:before{content:"\f089";position:absolute;}
#rating>label{color:#ddd;float:right;}
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}
